.idea/
*.log
Week-01/simulation_outputs/
Week-02/simulation_outputs/
Week-03/simulation_outputs/
Week-04/simulation_outputs/
Week-05/simulation_outputs/
Week-06/simulation_outputs/
Week-07/simulation_outputs/
Week-08/simulation_outputs/
Week-09/simulation_outputs/
Week-10/simulation_outputs/
Week-11/simulation_outputs/
Week-12/simulation_outputs/
Week-13/simulation_outputs/
Week-14/simulation_outputs/
Week-15/simulation_outputs/
Week-16/simulation_outputs/

Week-01/simtools.ini
Week-02/simtools.ini
Week-03/simtools.ini
Week-04/simtools.ini
Week-05/simtools.ini
Week-06/simtools.ini
Week-07/simtools.ini
Week-08/simtools.ini
Week-09/simtools.ini
Week-10/simtools.ini
Week-11/simtools.ini
Week-12/simtools.ini
Week-13/simtools.ini
Week-14/simtools.ini
Week-15/simtools.ini
Week-16/simtools.ini

Week-02/input/
